.wrapper-progress-tab {
    @include centerFlex();
    min-height: 140px;
    width: 100%;
    padding: 0 32px;
    margin-bottom: 24px;
    .progress-tab {
        width: 100%;
        position: relative;
        min-height: 128px;
        div {
            width: 80px;
            height: 80px;
            background-color: $background-primary;
            @include centerFlex();
            border-radius: 50%;
        }
        img {
            height: 40px;
            width: 40px;
            object-fit: contain;
        }
        .progress-bar {
            display: block;
            width: 100%;
            height: 14px;
            background-color: $background-primary;
            position: absolute;
            top: 34px;
            left: 9px;
            z-index: -1;
        }
        p {
            margin: 0;
            width: 150px;
            margin-left: -34px;
            margin-top: 6px;
        }
    }
    .progress-tab:nth-child(3){
        p {
            width: 180px;
            margin-left: -50px;
        }
    }
    .progress-tab:last-child {
        width: 80px;
        p {
            margin: 0;
            margin-top: 6px;
            width: auto;
        }
    }
}
.wrapper-recruitment-card {
    width: 100%;
    height: 600px;
    border: 1px solid $light-blue;
    position: relative;
    .header-recruitment-card {
        background-color: $light-blue;
        height: 50px;
        @include alignFlex(center);
        justify-content: space-between;
        padding: 14px;
        h5, p {
          color: $white;
          margin: 0;
        }
        p {
            font-size: 16px;
        }
    }
    .btn-next {
        width: 120px;
        height: 40px;
        background-color: $light-blue;
        color: white;
        font-weight: 600;
        text-align: center;
        border-radius: 4px;
        margin-top: 60px;
        @include absolute(null, 12px, 12px, null)
    }
}

// ================ FACEBOOK COMPONENT ==================
.wrapper-facebook-info {
    padding: 24px;
    @include centerFlex();
    flex-direction: column;
    width: 100%;
    height: 100%;
    .icon-wrapper {
        width: 44px;
        height: 34px;
        border-radius: 4px;
        @include centerFlex();
    }
    .tag-header {
        height: 34px;
        border-radius: 4px;
        @include centerFlex();
        margin: 0;
        padding: 0 24px;
    }
    .container-step {
        @include centerFlex();
        flex-direction: column;
        margin: 0px 32px;
        position: relative;
    }
    .label-step {
        @include alignFlex(center);
        font-size: 14px;
        span {
            border-radius: 50%;
            width: 16px;
            height: 16px;
            @include centerFlex();
            font-size: 10px;
            background-color: $ocean-blue;
            color: $white;
        }
    }
    .wrapper-image-circle {
        padding: 12px;
        border-radius: 50%;
        background-color: $white-smoke;
        img {
            width: 54px;
            height: 54px;
        }
    }
    .container-instruction-box {
        position: relative;
        width: 160px;
    }
    .instruction-box {
        background-color: $white-smoke;
        padding: 12px;
        border-radius: 4px;
        min-width: 160px;
        @include absolute(134px, null, null, -24px)
    }
    .dummy-border-dashed {
        border: 1px dashed $border-grey;
        border-top: 0px;
        width: 90px;
        height: 90px;
        @include absolute(null, null, -100px, null)
    }
    .dummy-border-left {
        border-right: 0px;;
        right: 4px;
    }
    .dummy-border-right {
        border-left: 0px;
        right: 34px;
    }
}


// ======================================================