.body-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-primary;
    .btn-login {
        width: 180px;
        height: 30px;
        background-color: $background-primary;
        color: white;
        font-weight: 600;
        text-align: center;
        border-radius: 4px;
        margin-top: 60px;
    }
}
.login-card {
    min-width: 300px;
    min-height: 400px;
    width: 30%;
    height: 25%;
    background-color: $white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 48px;
    img {
        width: 140px;
        height: 100px;
        margin-bottom: 24px;
        object-fit: contain;
    }
    input {
        height: 40px;
        width: 100%;
        padding: 6px 0px;
        text-align: left;
        border: none;
        border-bottom: 1px solid $navy-color;
        margin: 10px 0;
    }
    input::placeholder {
        color: $placeholder;
    }
    p{
        color: $placeholder;
    }
    em {
        color: $navy-color;
        cursor: pointer;
    }
}
.register-container {
    width: 800px;
    height: auto;
    background-color: $white;
    border-radius: 4px;
    margin: 42px 0;
    position: relative;
    .register-header {
        display: flex;
        justify-content: center;
        height: 100px;
        img {
            width: 180px;
            height: 100%;
            object-fit: cover;
        }
    }
    .register-body {
        background-color: $white-smoke;
        padding: 24px 46px;
        padding-bottom: 100px;
        > div {
            display: flex;
            align-items: center;
            margin: 8px 0;
        }
        p {
            margin-bottom: 0;
        }
        input {
            height: 38px;
            border: 1px solid $border-lightgrey;
            border-radius: 3px;
            padding: 0 12px;
        }
    }
    .register-footer {
        @include absolute(null, 16px, 24px, null);
        @include alignFlex(center);
        flex-direction: column;
        p {
          font-style: italic;
          color: $placeholder;
        }
        em {
          color: $navy-color;
          font-weight: bold;
          cursor: pointer;
        }
    }
    .label {
      position: relative;
      padding-left: 24px;
      cursor: pointer;
      font-size: 14px;
    }
    .label input {
      display: none;
    }
    .checkmark {
      @include absolute(2px, null, null, 0px);
      border-radius: 3px;
      height: 20px;
      width: 20px;
      background-color: $white;
      border: 1px solid $border-lightgrey;
    }
  
    .label:hover input ~ .checkmark {
      border-radius: 3px;
      top: 2px;
      left: 0px;
      opacity: 0.5;
    }
    .label input:checked ~ .checkmark {
      border-radius: 3px;
      top: 2px;
      left: 0px;
      background-color: $background-primary;
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .label input:checked ~ .checkmark:after {
      display: block;
    }
    .label .checkmark:after {
      left: 6px;
      width: 8px;
      height: 14px;
      border: solid $white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .container-social-media {
      max-width: 150px;
      @include alignFlex(left);
      img {
        width: 16px;
        height: 16px;
        margin-top: 10px;
      }
    }
    .btn-sign-up {
      width: 180px;
      height: 40px;
      background-color: $light-blue;
      color: white;
      font-weight: 600;
      text-align: center;
      border-radius: 4px;
      margin-top: 60px;
    }
}