.modal-result {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &.show {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      transition: all 0.3s;
    }
    .modal-result-card {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0px 32px;
      background: #ffffff;
      width: 1200px;
      min-height: 760px;
    }
    .modal-result-header {
      position: relative;
      width: calc(100% + 64px);
      height: 42px;
      background-color: $background-primary;
      padding: 6px 12px;
      margin-left: -32px;
      margin-right: -32px;
    }
    .modal-result-header p {
      font-size: 20px;
      font-weight: bold;
      color: $white;
    }
    .modal-result-header .icon-download {
        height: 32px;
        width: 32px;
        @include centerFlex();
        background-color: $light-blue;
        @include absolute(6px, 12px, null, null);
    }
    .personal-info {
      padding: 24px 0;
      border-bottom: 2px solid $border-lightgrey;
      > img {
        width: 280px;
        height: 170px;
        object-fit: cover;
        margin-right: 16px;
      }
      .social-media-info {
        @include alignFlex(center);
        flex-direction: column;
      }
      .social-media-bar {
        width: 100%;
        height: 20px;
        margin: 8px 0;
        align-self: flex-start;
      }
       .twitter {
        background-color: $twitter-color;
      }
       .instagram {
        background-color: $instagram-color;
      }
       .facebook {
        background-color: $facebook-color;
      }
    }
    .wrapper-user-info p:first-child {
      font-weight: bold;
      font-size: 18px;
    }
}