//do not change it's global for theme, change one change all
$theme-general-color: darkcyan; 
$background-primary: #012C40;
$white: #FFFFFF;
$placeholder: #CCCCCC;
$background-secondary: #F4F8FC;
$border-grey: #707070;
$chart-women: #AE3356;
$link: #0077FF;
$light-blue: #1F9CD7;
$ocean-blue: #00AEEF;
$scroll-background: #F1F1F1;
$scroll-button: #BCBCBC;
$black: #000000;
$border-lightgrey: #E6E6E6;
$instagram-color: #662D91;
$facebook-color: #3C5A99;
$twitter-color: #33CCFF;
$wine-red: #C1272D;
$grass-green: #39B54A;
$white-smoke: #F2F2F2;
$space-grey: #B3B3B3;
$aliceblue-color:aliceblue;
$navy-color: #030075;
$cyan-blue: #2980B9;