@import "././helper/_mixin.scss";
@import "./_color-variable.scss";
@import "./helper/_helper.scss";
@import "../pages/auth/_auth.scss";
@import "../pages/recruitment/_recruitment.scss";
@import "../pages/admin/admin.scss";
@import "../components/modal/modal-result.scss";

button, input, textarea {
    outline: none !important;
}

.btn-save-profile {
    width: 120px;
    height: 40px;
    background-color: $light-blue;
    color: white;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    margin-top: 60px;
}

input {
    height: 38px;
    margin-top: 20px;
    border: 1px solid $border-lightgrey;
    border-radius: 3px;
    padding: 0 12px;
}

p {
    font-size: 14px;
    font-weight: normal;
}
